[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorSpec"]
	path = colorSpec
	url = https://github.com/cran/colorSpec
[submodule "colorscience"]
	path = colorscience
	url = https://github.com/cran/colorscience
[submodule "munsellinterpol"]
	path = munsellinterpol
	url = https://github.com/cran/munsellinterpol
[submodule "polarzonoid"]
	path = polarzonoid
	url = https://github.com/cran/polarzonoid
[submodule "spacesRGB"]
	path = spacesRGB
	url = https://github.com/cran/spacesRGB
[submodule "spacesXYZ"]
	path = spacesXYZ
	url = https://github.com/cran/spacesXYZ
[submodule "zonohedra"]
	path = zonohedra
	url = https://github.com/cran/zonohedra
